<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ct.css"/>
    <title>Document</title>

    <style>
      @font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    </style>

</head>
<body>

  <!-- 차트 -->
<div class='wrap'>
  <div class='container'>
    <div class="chart doughnut1">
      <div>
      <span class="center">
        <div>

        <p style="margin-top:30%;">
          <a style=" background-color: #1F3158;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; font-size:18px; font-weight: bolder;  font-family:  'GmarketSansMedium'; ">주차 가능 공간</a><br>
           <%= data.data.JUCHA_NUMBER%>
        </p>
      </div>
        </span>
      <div>
    </div>
    <div class="x58"></div>
<div class="x59"></div>
  </div>

  <!-- <button style="font-family: SpoqaHanSansNeo-Regular;" onClick=replay()>
   RESET
  </button> -->
</div>

<script>
const chart1 = document.querySelector('.doughnut1');


const makeChart = (percent, classname, color) => {
  let i = 1;
  let chartFn = setInterval(function() {
    if (i < percent) {
      colorFn(i, classname, color);
      i++;
    } else {
      clearInterval(chartFn);
    }
  }, 10);
}

const colorFn = (i, classname, color) => {
  classname.style.background = "conic-gradient(" + color + " 0% " + i + "%, #dedede " + i + "% 100%)";
}


makeChart(<%= data.data.JUCHA_GONGAN%>, chart1, '#1F3158');

    </script>






</body>
</html>
