<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/pu.css"/>
    <style>
    ::-webkit-scrollbar{width: 8px; height: 8px;}
    ::-webkit-scrollbar-track{background-color: #ffffff;}
    ::-webkit-scrollbar-thumb{background-color: #D3D3D3; border-radius: 7px;}
    </style>


</head>
<body>
  <div style="left: 0px">
  <table  style=" width: 300px;">

      <tr>
        <th>4월11일</th>
        <td>90000</td>
      </tr>

      <tr>
        <th>4월12일</th>
        <td>120000</td>
      </tr>

      <tr>
        <th>4월13일</th>
        <td>95000</td>
      </tr>


      <tr>
        <th>4월14일</th>
        <td>80000</td>
      </tr>

      <tr>
        <th>4월15일</th>
        <td>92000</td>
      </tr>

      
      <tr>
        <th>4월16일</th>
        <td>98000</td>
      </tr>

      
      <tr>
        <th>4월17일</th>
        <td>130000</td>
      </tr>







  </table>
  </div>
</body>
</html>
