<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>로그인 페이지</h1>
<form method='post' action='http://52.79.193.214:3000/user/add' name='userform' >
     MEMBER_NUM <input type='text' size='10' name=' s'>
     <p>
     NAME <input type='text' size='10' name='name'>
     <p>
     DONG <input type='text' size='10' name='dong'>
     <p>
     HO <input type='text' name='ho' >
     <p>
     PHONE_NUM <input type='text' name='phone_num'>
     <p>
     MEMBER_TYPE_NUM <input type='text' name='member_type_num'>
     <p>
     REMARK <input type='text' name='remark'>
     <p>

     <input type='submit' value='insert' onclick='this.form.action="http://52.79.193.214:3000/user/add"' >
     <input type='submit' value='update' onclick='this.form.action="/update"' >
     <input type='submit' value='delete' onclick='this.form.action="/delete"' >
</form>







</body>
</html>
