@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Pen+Script&display=swap');

body {
    font-family: 'Gowun Dodum', sans-serif;
}

.sectionmain{
    margin-bottom: 75px;
}
.comentmain{
    margin-left: 25px;
    margin-right: 25px;
}

.ListUl{
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;

}
.ListLi{
    display: inline-block;
    margin: 0;
    align-items: center;

    
}
.ListMargin{
    margin-top: 5px;
    margin-right: 9px;
    margin-left: 9px;
    
}

.cardmain{position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    
}
.card-img-top{
    border-radius:25px;
}
.cardbody{
    padding: 10px 10px;
}

.cardul{
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.cardli{
    display: inline-block;
    margin: 0;
    align-items: center;
}

.cardmargin{
    margin-right: 10px;
}

/* boardadd */

.sectioncontent{
    margin-bottom: 75px;
    margin-left: 15;
    margin-right: 15;
}

.cardtop{
    margin-top: 10px;
    display: flex;
}

.cardsection{
    margin-left: 15;
    margin-right: 15;
}

.carduserimg{
    width: 35px;
   
}
.cardusername{
    margin-top: 5;
    margin-bottom: 5;
}

.boardday{
    font-size: 10;
}

.cardbottom{
    padding: 0px 15px;
    display: flex;

}


.boardadd{
    top: 85%;
    height:200px;
    width:60px;
    position:fixed;
    right: 0;
}

.comentadd{
    top: 85%;
    
    width: 100%;
    position:fixed;
    
}

.comenttextbox{
    border-radius: 15px;
    margin:0;
    font-size: 13px;
    border:1px solid rgba(0,0,0,.125);
    padding: 10px 10px;
}

.comentcardmain{position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    
}


