@font-face {
  font-family: "SegoeUI-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SegoeUI-Regular") format("truetype");
}

.web-1920-9 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 1772px;
  width: 1920px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group2 {
  align-items: flex-end;
  background-color: var(--white);
  box-shadow: 0px 3px 6px
#00000029;
  display: flex;
  height: 76px;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 13px 850px;
}

.x2 {
  height: 43px;
  width: 102px;
}

.overlap-group1 {
  align-items: flex-start;
  background-color:
#f1f1f1;
  display: flex;
  height: 2227px;
  min-width: 1920px;
  padding: 36px 34px;
}

.overlap-group3 {
  align-items: center;
  background-color:
#1f3158;
  border-radius: 15px;
  box-shadow: 0px 3px 6px
#00000029;
  display: flex;
  flex-direction: column;
  min-height: 745px;
  padding: 42px 0;
  width: 124px;
}

.overlap-group7 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 16px;
  display: flex;
  height: 21px;
  margin-left: 1.7px;
  margin-top: 21px;
  min-width: 75px;
  padding: 1px 15px;
}

.logout {
  color: var(--dove-gray);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 44px;
  white-space: nowrap;
}

.text-1 {
  letter-spacing: 0;
  line-height: 11px;
  margin-left: 6.7px;
  margin-top: 2px;
  min-height: 17px;
  min-width: 46px;
  white-space: nowrap;
}

.text-2 {
  letter-spacing: 0;
  line-height: 11px;
  margin-left: 3.7px;
  margin-top: 2px;
  min-height: 17px;
  min-width: 27px;
  white-space: nowrap;
}

.image-5 {
  height: 62px;
  margin-left: 2.7px;
  margin-top: 45px;
  width: 64px;
}

.overlap-group5 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/622fe0672a462640ecc35616/releases/622fe075cec2f64b67ed2295/img/file---10@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 99px;
  justify-content: flex-end;
  margin-left: 0.35px;
  margin-top: 11px;
  min-width: 124px;
  padding: 5.5px 28px;
}

.image-3 {
  height: 63px;
  width: 64px;
}

.image-1 {
  height: 72px;
  margin-left: 2.7px;
  margin-top: 50px;
  width: 74px;
}

.image-2 {
  border-radius: 9px;
  height: 64px;
  margin-left: 1.7px;
  margin-top: 23px;
  width: 65px;
}

.image-4 {
  height: 69px;
  margin-left: 8.7px;
  margin-top: 14px;
  width: 70px;
}

.overlap-group6 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 33px/32.5px;
  display: flex;
  height: 65px;
  margin-left: 0.7px;
  min-width: 66px;
  padding: 9px 7px;
}

.image {
  height: 45px;
  width: 50px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  margin-top: 65px;
  min-height: 1434px;
  width: 1595px;
}

.overlap-group4 {
  height: 421px;
  margin-top: 94px;
  position: relative;
  width: 1595px;
}

.x117 {
  background-color: var(--white);
  box-shadow: 0px 2px 5px
#00000029;
  height: 368px;
  left: 0;
  position: absolute;
  top: 53px;
  width: 1595px;
}

.x26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 60px;
  min-height: 236px;
  position: absolute;
  top: 119px;
  width: 1475px;
}

.x9 {
  height: 1px;
  margin-left: 0;
  width: 1475px;
}

.x12 {
  height: 1px;
  margin-left: 0.24px;
  margin-top: 78px;
  width: 1475px;
}

.x26-item {
  height: 1px;
  margin-left: 0;
  margin-top: 78px;
  width: 1475px;
}

.x118 {
  background-color: var(--quill-gray);
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1595px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  min-width: 639px;
}

.x28 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 2px 5px
#0000001c;
  display: flex;
  height: 77px;
  justify-content: flex-end;
  min-width: 376px;
  padding: 0 25px;
}

.overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border: 1.5px solid var(--quill-gray);
  display: flex;
  height: 41px;
  min-width: 49px;
  padding: 9.3px 0;
}

.x18 {
  height: 2px;
  width: 45px;
}

.x120 {
  background-color:
#63a6d3;
  border-radius: 10px;
  box-shadow: 0px 2px 5px
#0000001c;
  height: 77px;
  margin-left: 29px;
  width: 234px;
}

.x123 {
  background: linear-gradient(96.69deg,
#62a1d1 18.69%,
#73599d 106.72%);
  border-radius: 29px;
  height: 102px;
  margin-top: 129px;
  width: 1595px;
}

.x121 {
  background-color: var(--white);
  box-shadow: 0px 2px 5px
#00000029;
  height: 522px;
  margin-top: 89px;
  width: 1595px;
}
