
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Pen+Script&display=swap');

body, ul, li, p, a, label, input, div {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}

.tag, .b{
  font-family: 'Gowun Dodum', sans-serif;
  margin-left: 30px;
}


.h1 {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}
.h2 {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 30px !important;
  font-weight: 300; 
}

.card-body {
  font-family: 'Gowun Dodum', sans-serif;
}

/* General */

.bg-light { background-color: #fffde6 !important;}  /*상품 배경색*/



.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}
.card.product-wap a { color: #000;}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}



