<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%-include('../top.ejs')%>
<%-include('../menu.ejs')%>
<body>
<div>
  <div>
    <iframe src="http://15.165.153.54:3000/content/current_payment">
    </iframe>
  </div>
</div>




</body>
</html>
