<!DOCTYPE html>
<html lang="en">
<%-include('../top.ejs')%>
<%-include('../menu.ejs')%>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/manager_index.css"/>
    <link rel="stylesheet" href="/css/main.css"/>

</head>
<body>
  <!-- 파이차트 -->
  <section class="area">


    <div class="remaining_seats">
      <div class="pie_chart">
        <iframe src="http://15.165.153.54:3000/content/real_time_remaining_seats">
        </iframe>
      </div>

  <!-- 전체주차공간 현황 -->

      <div>
        <iframe src="http://15.165.153.54:3000/content/actual_parking_space">
        </iframe>
      </div>

<!-- 열림버튼 -->
      <input type="button" class="x58">
      <!-- <div class="x58"></div> -->

<!-- 닫힘벋튼 -->
      <input type="button" class="x59">
      <!-- <div class="x59"></div> -->

  </div>





<!-- 실시간 주차현황 -->

    <div>
      <iframe src="http://15.165.153.54:3000/content/real_time_status" style="border:none;">
      </iframe>
    </div>

<!-- 오늘 하루 데이터 -->

<!-- 오늘 출차된 차량 수 -->
<div class="x57">
<div class="remaining_seats">
    <div>
      <iframe src="http://15.165.153.54:3000/content/current_departure" >
      </iframe>
    </div>



  <!-- 오늘 누적 금액 -->

    <div>
      <iframe src="http://15.165.153.54:3000/content/current_payment">
      </iframe>
    </div>
    </div>
</div>


  <!-- 달력 -->
<div class="remaining_seats">
  <div>
    <iframe src="http://15.165.153.54:3000/content/calendar" style="height: 600px;width: 720px;border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;border-right-width: 0px;">
    </iframe>
  </div>
  <!-- 메모 -->
  <div>
  <input type='text' class="x19"></input>
  </div>
</div>


    </section>
</body>
</html>
