<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/menu.css"/>
    <link rel="stylesheet" href="/css/box.css"/>
    <link rel="stylesheet" href="/css/sb.css"/>
    <link rel="stylesheet" href="/css/pubox.css"/>
    <link rel="stylesheet" href="/css/pu.css"/>
    <link rel="stylesheet" href="/css/num.css"/>
    <link rel="stylesheet" href="/css/button.css"/>
    <link rel="stylesheet" href="/css/search.css"/>
    <link rel="stylesheet" href="/js/search.js"/>
    <link rel="stylesheet" href="/js/day.js"/>
</head>
<script>
function set(){
       
  alert("설정이 완료됐습니다.")

}
</script>
<%-include('../top.ejs')%>
<%-include('../setmenu.ejs')%>
<body>

  <iframe  name=targetURL scrolling="no" frameBorder="0" style="margin-top:100px; margin-left: 30%; width: 650px;  height:700px;" src="http://15.165.153.54:3000/content/setting_form">
  </iframe>

</body>
</html>
